@{
	ViewBag.Title = "Home Page";
}

<br />
<h2>Welcome to GC Coffee!</h2>

<form action="/Home/SearchItems" class="form-group">
	<input type="text" name="itemName" required class="form-control" />
	<br />
	<button name="itemName" type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</button>
</form>

<br />

<panel></panel>

<div class="panel panel-group">
	<div class="panel-default">
		<div class="panel panel-heading">Coffee Shop Items</div>
		@foreach (var item in ViewBag.Items)
		{
			<div class="panel panel-default col-lg-2">
				<p>@item.name</p>
				<p>@item.description</p>
				<p>@item.quantity</p>
				<p>@item.price</p>
			</div>
		}
	</div>
</div>

@*<table border="1" class="table">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>

		@foreach (var item in ViewBag.Items)
		{
			<tr>
				<td>@item.name</td>
				<td>@item.description</td>
				<td>@item.quantity</td>
				<td>@item.price</td>
			</tr>
		}
	</table>*@